@font-face {
	font-family: 'Styrene';
	src: url('../fonts/StyreneAWeb-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Styrene';
	src: url('../fonts/StyreneAWeb-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Styrene';
	src: url('../fonts/StyreneAWeb-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Styrene';
	src: url('../fonts/StyreneAWeb-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}